- random_content_id = rand(0...1)
- data.merchandising_contents.each do |key, content|
  - if (content.content_id == random_content_id)
    %a.merchandising-content-container{ href: content.destination }
      .merchandising-image{ style: "background-image: url(#{content.image_source});" }
      .merchandising-copy-wrapper
        .title
          %h4
            = content.body_title
        - if (content.body_content)
          .content
            %p
              = content.body_content
        .cta-wrapper
          .cta-text
            = content.cta_text
          = image_tag "/images/solutions/arrow.svg", class: "merchandising-arrow", alt: "Gitlab arrow svg"
